<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{$pagetitle}</title>
    <link rel="stylesheet" href="{$skin_path}style.css" />
    <link rel="shortcut icon" type="image/png" href="{$skin_path}images/favicon.png" />
    <script src="js/jquery.min.js"></script>
    <script src="js/files_api.js"></script>
    <script src="js/files_ui.js"></script>
</head>
<body>
    <div id="logo"></div>
    <div id="topmenu"></div>
    <div id="navigation"></div>
    <div id="task_navigation"></div>
    <div id="content">{$engine->login_form()}</div>
    <div id="footer">
        {include file="footer.html"}
    </div>
{$script}
</body>
</html>
